.img-circle
 {
    border-radius: 50%;
	height:250px;
	width:250px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}
body
 {
  background: url(bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  
  background-size: cover;
 }


h1 
{ 
text-align: center;
color:white;
 }
h2 
{ text-align: center; 
     color:white;}

form { 
margin: 0 auto; 
width:250px;
}